{% extends "base.html" %}
{% block content %}

<!-- Header-->
    <header class="bg-dark py-5">
      <div class="container px-4 px-lg-5 my-5">
        <div class="text-center text-white">
          <h1 class="display-4 fw-bolder">درباره ما</h1>
          <p class="lead fw-normal text-white-50 mb-0">
         داستان مارا بشنوید
          </p>
        </div>
      </div>
    </header>
     <br><br>
    <div class="container ">

        <div class="row">
           
            <center class="col-8">
                <h2>درباره ما</h2>
                <p align="justify">
                {% lorem 1 b random %}
                </p>
            </center>
       
      </div>
     </div>
      <br><br>
{% endblock %}